[package]
name = "damasc"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
gen-iter = "0.3.0"
multiset = "0.0.5"
nom = "7.1.2"
rustyline = "10.0.0"
