<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Damasc Repl</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="app">
        <h1 class="app-titel"><a class="inherit" href="/"><img src="/logo.svg" height="28" width="126" alt="Damasc" /></a></h1>

        <p>
        Welcome to Damasc. Damasc is an expression language inspired by a subset of ES6. </p>
        <p><a href="https://github.com/laszlokorte/damasc">Damasc on Github</a></p>


        {% block body %}
        {% endblock %}
    </div>
</body>
</html>