<form class="example-list" action="." method="post">
<span>Examples: </span>
<button name="statement" value="5*5" class="example-button">5*5</button>
<button name="statement" value="[1,2,3]" class="example-button">[1,2,3]</button>
<button name="statement" value="{x:23,y:42}" class="example-button">{x:32,y:42}</button>
<button name="statement" value="&quot;hello&quot;" class="example-button">&quot;hello&quot;</button>
<button name="statement" value="[_,m,_]=[1,2,3]" class="example-button">[_,m,_]=[1,2,3]</button>
<button name="statement" value="t=type(x);{x:[_ is Integer, x]}={x:[23,true]}" class="example-button">t=type(x);{x:[_ is Integer, x]}={x:[23,true]}</button>

</form>