{% extends "base.html.j2" %}

{% block body %}
<p>
Welcome to Damasc. Damasc is an expression language inspired by a subset of ES6.
</p>

{% include "examples.html.j2" %}

{% include "repl.html.j2" %}

{% endblock body %}