{% extends "base.html.j2" %}

{% block body %}
<p>
Welcome to Damasc. Damasc is an expression language inspired by a subset of ES6.
</p>
<form class="repl-line" action="." method="post">
<input class="repl-input" autofocus autocomplete="off" name="statement" value="{{repl.statement}}" type="text">
<button class="repl-button">Eval</button>
</form>
{% endblock body %}