
<form class="repl-line" action="." method="post">
<span class="repl-prompt">&gt;&gt;</span>
<input class="repl-input" autofocus autocomplete="off" name="statement" placeholder="{{repl.statement}}" type="text">
<button class="repl-button">Eval</button>
</form>
